.btn-ico
{
  padding: 2px;
  float: left;
  opacity: 0.1;
  background-color: white;
  border:none;
}

.btn-ico:hover
{
  opacity: 1;
}

.span-author
{
   font-weight: bold; 
}

.span-time
{
   font-weight: bold; 
   color: blue;
}

.div-image
{
  margin-top: 20px;
  
  margin-bottom: 10px;
}
.input-add-comment
{
  margin-right: 5px !important;
  width: 287px !important;
  display: inline !important;
}